*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none;
}
body{
    height: 100vh;
    background: #F0F8FF !important;
}
nav{
    width: 100%;
    background-color: #005b7a;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.wrapper{
    position: relative;
    max-width: 1300px;
    margin: auto;
    padding: 0px 30px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper .logo a{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}
.nav-links{
    display: flex;
    margin-top: 15px;
}
.nav-links li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 20px;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.nav-links li a:hover{
    color: #00c3ff;
}
.nav-links li:hover .mega-box{
    opacity: 1;
    visibility: visible;
    top: 54px;
    transition: all 0.7s;
}
.mega-box{
    position: absolute;
    top: 100px;
    right: 0;
    width: 1000px;
    padding: 0px 30px;
    opacity: 0;
    visibility: hidden;
}
.content{
    background-color: #005b7a;
    border-radius: 10px;
    padding: 25px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main{
    text-align: left;
    width: 300px;
    line-height: 45px;
}
.main img{
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.mega-links{
    border-left: 2px solid #fff;
}


/* banner */
.main-banner{
    width: 100%;
    padding: 20px 0px;
}
.banner{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .left,
.banner .right{
    width: 650px;
    height: 450px;
}
.banner .left h1{
    color: #000040;
    font-size: 70px;
    font-weight: bold;
    padding: 0px 25px;
}
.banner .left p{
    font-size: 20px;
    color: #000040;
    font-weight: 500;
    padding: 0px 25px;
}
.banner .right .carousel-inner{
    border-radius: 50px 0px 50px 0px;
}
.banner .right .carousel-item{
    width: 100%;
    height: 450px;
    border-radius: 50px 0px 50px 0px;
    background-color: #DEEDF4;
}
.banner .right .carousel-item img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 50px 0px;
}

/* content-1 */
.main-content-1{
    width: 100%;
    padding: 20px 0px;
}
.content-1{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #005b7a;
    border-radius: 10px;
}
.content-1 .box{
    width: 430px;
    padding: 50px;
    color: #fff;
}
.content-1 .box h6{
    border-left: 3px solid #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}
.content-1 .box p{
    font-size: 18px;
    font-weight: 500;
    padding: 10px 0px;
}

/* content-2 */
.main-content-2{
    width: 100%;
    padding: 20px 0px;
}
.content-2{
    max-width: 1300px;
    margin: auto;
    display: flex;
}
.content-2 .left{
    width: 400px;
    height: 400px;
}
.content-2 .left .images{
    width: 400px;
    height: 400px;
    margin: auto;
    border-radius: 50px 0px 50px 0px;
    background-color: #DEEDF4;
}
.content-2 .left .images img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 50px 0px;
}
.content-2 .right{
    width: 900px;
    height: 400px;
    padding: 0px 30px;
}
.content-2 .right h6{
    font-size: 40px;
    color: #000040;
    font-weight: bold;
}
.content-2 .right p{
    font-size: 18px;
    color: #000040;
    font-weight: 500;
    padding: 10px 0px;
}

/* content-3 */
.main-content-3{
    width: 100%;
    padding: 20px 0px;
}
.content-3{
    max-width: 1300px;
    margin: auto;
    background-color: #005b7a;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.content-3 .left{
    width: 900px;
    height: 400px;
    padding: 0px 30px;
}
.content-3 .left h6{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
}
.content-3 .left p{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    padding: 20px 0px;
}
.content-3 .right .images{
    width: 400px;
    height: 400px;
    border-radius: 50px 0px 50px 0px;
}
.content-3 .right .images img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 50px 0px;
}

/* footer */
.main-footer{
    width: 100%;
    background-color: #005b7a;
    padding: 20px 0px;
    margin-top: 10px;
}
.footer{
    max-width: 1300px;
    margin: auto;
    display: flex;
}
.footer .logo-footer{
    width: 300px;
}
.footer .logo-footer a{
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    padding: 0px 25px;
}
.footer .about-us{
    width: 500px;
}
.footer .about-us h6,
.footer .app-link h6,
.footer .social-media h6{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}
.footer .about-us p{
    color: #fff;
    font-size: 18px;
    font-weight: 530;
    text-align: center;
}
.footer .app-link{
    width: 300px;
}
.footer .app-link .box-app{
    width: 210px;
    height: 40px;
    margin: 5px auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.footer .app-link .box-app img{
    width: 35px;
    height: 35px;
    padding: 5px;
}
.footer .app-link .box-app p{
    font-size: 20px;
    color: #000040;
    padding-top: 13px;
    font-weight: bold;
}
.footer .social-media{
    width: 200px;
    text-align: center;
}
.footer .social-media i{
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    color: #000040;
}
.footer .social-media i:hover{
    background-color: #3a3a8b62;
    color: #fff;
}


/* page solution */
.main-solution-1{
    width: 100%;
    padding: 20px 0px;
    margin: 20px 0px;
}
.main-solution-1 .solution{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
}
.main-solution-1 .solution .left{
    width: 800px;
    height: 400px;
    padding: 10px 25px;
}
.main-solution-1 .solution .left h6{
    font-size: 50px;
    font-weight: bold;
    color: #000040;
}
.main-solution-1 .solution .left p{
    padding: 20px 10px;
    color: #000040;
    font-size: 20px;
    border-left: 3px solid #000040;
}
.main-solution-1 .solution .right{
    width: 500px;
    height: 400px;
}
.main-solution-1 .solution .right .images{
    width: 500px;
    height: 400px;
    border-radius: 50px 0px 50px 0px;
    background-color: #DEEDF4;
}
.main-solution-1 .solution .right .images img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 50px 0px;
}

.main-solution-2{
    width: 100%;
    padding: 20px 0px;
}
.main-solution-2 .solution{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
}
.main-solution-2 .solution .right{
    width: 900px;
    height: 400px;
    padding: 10px 25px;
}
.main-solution-2 .solution .right h6{
    font-size: 50px;
    font-weight: bold;
    color: #000040;
}
.main-solution-2 .solution .right p{
    padding: 20px 10px;
    color: #000040;
    font-size: 20px;
    border-left: 3px solid #000040;
}
.main-solution-2 .solution .left{
    width: 400px;
    height: 400px;
}
.main-solution-2 .solution .left .images{
    width: 400px;
    height: 400px;
    border-radius: 50px 0px 50px 0px;
    background-color: #DEEDF4;
}
.main-solution-2 .solution .left .images img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 50px 0px;
}
.main-text{
    width: 100%;
    padding: 20px 0px;
    margin-top: 20px;
}
.main-text .text{
    max-width: 1300px;
    margin: auto;
    text-align: center;
}
.main-text .text h6{
    font-size: 50px;
    color: #000040;
    font-weight: 600;
}


/* page feature */
.main-feature-1{
    width: 100%;
    padding: 20px 0px;
    margin: 20px 0px;
}
.main-feature-1 .feature{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
}
.main-feature-1 .feature .left{
    width: 900px;
    height: 400px;
    padding: 10px 25px;
}
.main-feature-1 .feature .left h6{
    font-size: 50px;
    font-weight: bold;
    color: #000040;
}
.main-feature-1 .feature .left p{
    padding: 20px 10px;
    color: #000040;
    font-size: 20px;
    border-left: 3px solid #000040;
}
.main-feature-1 .feature .right{
    width: 400px;
    height: 400px;
}
.main-feature-1 .feature .right .images{
    width: 400px;
    height: 400px;
    border-radius: 50px 0px 50px 0px;
    background-color: #DEEDF4;
}
.main-feature-1 .feature .right .images img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 50px 0px;
}

.main-feature-2{
    width: 100%;
    padding: 20px 0px;
}
.main-feature-2 .feature{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
}
.main-feature-2 .feature .right{
    width: 900px;
    height: 400px;
    padding: 0px 25px;
}
.main-feature-2 .feature .right h1{
    font-size: 50px;
    font-weight: 500;
    color: #000040;
    padding-bottom: 10px;
}
.main-feature-2 .feature .right .right-box{
    display: flex;
    width: 900px;
    padding: 10px;
    border-radius: 50px 0px 50px 0px;
    color: #000040;
}
.main-feature-2 .feature .right .right-box .box{
    width: 300px;
}
.main-feature-2 .feature .right .right-box .box h6{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 500;
}
.main-feature-2 .feature .right .right-box .box p{
    font-size: 18px;
    padding: 10px 10px 10px 0px;
}
.main-feature-2 .feature .left{
    width: 400px;
    height: 400px;
}
.main-feature-2 .feature .left .images{
    width: 400px;
    height: 400px;
    border-radius: 50px 0px 50px 0px;
    background-color: #DEEDF4;
}
.main-feature-2 .feature .left .images img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 50px 0px;
}

.main-feature-3{
    width: 100%;
    padding: 0px;
    margin-top: 100px;
}
.main-feature-3 .feature{
    max-width: 1300px;
    margin: auto;
    display: flex;
}
.main-feature-3 .feature .right{
    width: 900px;
    padding: 0px 25px;
}
.main-feature-3 .feature .right h1{
    font-size: 50px;
    font-weight: 500;
    color: #000040;
    padding-bottom: 10px;
}
.main-feature-3 .feature .right .right-box{
    display: flex;
    width: 900px;
    padding: 10px;
    border-radius: 50px 0px 50px 0px;
    color: #000040;
}
.main-feature-3 .feature .right .right-box .box{
    display: block;
    width: 300px;
}
.main-feature-3 .feature .right .right-box .box h6{
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: 500;
}
.main-feature-3 .feature .right .right-box .box p{
    font-size: 18px;
    padding: 10px 10px 10px 0px;
}
.main-feature-3 .feature .left{
    width: 400px;
    height: 400px;
}
.main-feature-3 .feature .left .images{
    width: 400px;
    height: 400px;
    border-radius: 50px 0px 50px 0px;
    background-color: #DEEDF4;
}
.main-feature-3 .feature .left .images img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 50px 0px;
}

/* page detail */
.main-detail{
    width: 100%;
    padding: 20px 0px;
}
.main-detail .detail{
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
}
.main-detail .detail .right{
    width: 800px;
    padding: 10px 25px;
}
.main-detail .detail .right h6{
    font-size: 50px;
    font-weight: bold;
    color: #000040;
}
.main-detail .detail .right p{
    padding: 20px 10px;
    color: #000040;
    font-size: 20px;
    border-left: 3px solid #000040;
}
.main-detail .detail .left{
    width: 500px;
    height: 400px;
}
.main-detail .detail .left .images{
    width: 500px;
    height: 400px;
    border-radius: 50px 0px 50px 0px;
}
.main-detail .detail .left .images img{
    width: 100%;
    height: 100%;
    border-radius: 50px 0px 50px 0px;
}

/* page contact */
.main-contact{
    width: 100%;
    padding: 20px 0px;
}
.contact{
    max-width: 1300px;
    margin: auto;
    display: flex;
}
.title-contact{
    max-width: 1300px;
    margin: auto;
    font-size: 35px;
    color: #000040;
    font-weight: 700;
    text-align: center;
    padding: 20px 0px;
}
.contact .left,
.contact .right{
    width: 650px;
    padding: 10px 25px;
    margin: 0px 10px;
}
.contact .left{
    background-color: #005b7a;
    border-radius: 10px;
}
.contact .left label{
    font-size: 20px;
    color: #fff;
    padding: 10px 0px;
}
.contact .left input,
.contact .left textarea{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}
.contact .left button{
    border-radius: 5px;
    padding: 8px;
    border: none;
    outline: none;
    width: 150px;
    color: #000040;
}
.contact .left button:hover{
    background-color: #008040;
    color: #fff;
}
.contact .right{
    border: 1px solid #000040;
    border-radius: 10px;
}
.contact .right .title{
    text-align: center;
    width: 100%;
    font-size: 30px;
    color: #000040;
    font-weight: 700;
    padding-bottom: 20px;
}
.contact .right p{
    font-size: 18px;
    font-weight: 600;
}


/* page about us */
.main-about{
    width: 100%;
    padding: 20px 0px;
}
.about{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.about .left{
    width: 300px;
    padding: 10px 20px;
}
.about .left .images{
    padding: 10px;
    width: 300px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    position: relative;
}
.about .left .images img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.logo-about{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
}
.logo-about img{
    width: 150px !important;
    height: 150px !important;
}
.logo-about p{
    font-size: 28px;
    font-weight: bold;
    color: #000040;
}
.about .right{
    width: 1000px;
    padding: 20px;
}
.about .right .des{
    width: 100%;
}
.about .right .des p{
    font-size: 20px;
    color: #000040;
    font-weight: 500;
}

/* mobile menu */
.main-mobile-menu,
.sidenav{
    display: none;
}